.explore_title {
  color:#333;
  font-size:18px;
  font-weight:bold;
  margin-top:10px;
  text-align:center;
  height:48px;
}

.descContent {
  text-align: center;
  font-size: 12px;
  color: #666;
  line-height: 1.8;
  margin-top: 5px;
  margin-bottom:10px;
  height:auto;
}

.feedCount {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 1px;
  margin-bottom:8px;
}


.btn-success {
    color: #fff!important;
    background-color: #23AD44;
    border-color: #23AD44;
}

.btn, :focus {
    outline: 0!important;
}




