.bbsul{
    margin: 4px 0;
    list-style: none;
}

.bbsimg {
  width:150px;
  height:45px;
}

.bbsli {
   margin: 10px 0 ;
}

.blogli {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
}

.hotarticle > li {
    padding: 5px 10px;
    list-style: none;
    border: 1px solid #eeeeee;
    border-bottom: 0;
}