<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Lambda-程序员学习平台, 成为更好的自己。react react-native spark nodejs docker 大数据 机器学习 python 区块链">
    <meta name="keyword" content="react react-native spark nodejs docker 大数据 机器学习 python 区块链">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.1/css/amazeui.min.css">
    <link rel="stylesheet" href="https://assets.lambda-study.com/css/components.css"/>
    <script src="https://assets.lambda-study.com/js/statistics.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="root"><%= htmlWebpackPlugin.options.htmlContent %></div>
    <script type="text/javascript"><%= htmlWebpackPlugin.options.initialData %></script>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.4.2/js/amazeui.min.js"></script>
    <script src="https://assets.lambda-study.com/js/components_lambda.js"></script>
      <script src="https://assets.lambda-study.com/js/f9a65217.vendor.js"></script>
      <script src="https://assets.lambda-study.com/js/f9a65217.bundle.js"></script>
  </body>
</html>